<div class = "container">
	<h1>Dice Game</h1>
	<hr>
	<%= image_tag("https://uchicago.s3.amazonaws.com/d0#{@d1}.png") %>
	<%= image_tag("https://uchicago.s3.amazonaws.com/d0#{@d2}.png") %><br>
	<% if @goal == 0 %>
		<% if @score == 7 || @score == 11 %>
			<h3>
				YOU WIN!
			</h3>
			<p>
				<button>
					<%= link_to "Start Over", action: "roll" %>
				</button>
			</p>
		<% elsif @score == 2 || @score == 3 || @score == 12 %>
			<h3>
				YOU LOSE.
			</h3>
			<p>
				<button>
					<%= link_to "Start Over", action: "roll" %>
				</button>
			</p>
		<% else %>
			<% @goal = @score %>
			<h3>
				Your goal is now <%= @goal %>.
			</h3>
			<h4>
				Now try to get <%= @goal %> again before you roll a 7.
			</h4>
			<p>
				<button>
					<%= link_to "Roll Again", action: "roll",  goal: @goal %>
				</button>
			</p>
		<% end %>
	<% else %>
		<% if @goal == @score %>
			<h3>
				YOU WIN!
			</h3>
			<p>
				<button>
					<%= link_to "Start Over", action: "roll" %>
				</button>
			</p>
		<% elsif @score == 7 %>
			<h3>YOU LOSE.</h3>
			<p>
				<button>
					<%= link_to "Start Over", action: "roll" %>
				</button>
			</p>
		<% else %>
			<h3>
				Your goal is still <%= @goal %>.
			</h3>
			<p>
				<button>
					<%= link_to "Roll Again", action: "roll", goal: @goal %>
				</button>
			</p>
		<% end %>
	<% end %>
</div>